* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--cor-principal);
    font-family: 'Italiana', serif;
    scroll-behavior: smooth;
}